<!-- start custom footer snippets -->
<div class="page__footer-follow">
  <ul class="social-icons">
	  {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
	  {% endif %} 

    <li><a href="https://github.com/jerry901/"><i class="fab fa-fw fa-github-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].github_label| default: "Github" }}</a></li>
    <li><a href="mailto:pkhu2000@gmail.com"><i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label| default: "Email" }}</a></li>
    <li><a href="https://www.instagram.com/p.halo_/"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].insta_label| default: "Insta" }}</a></li>
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
  </ul>
</div>

<!-- end custom footer snippets -->
